.cartButtonStyle {
    // position: fixed;
    // left:500 !important;
    // top:0 !important;
    border-radius: 20% !important;
    // position: absolute;
    margin: auto;
    display:flex;
    justify-content:center;
    width: 60px;
    height: 60px;
    background-color: rgb(150, 232, 232) ;
    z-index: 100;
    
}