
:root {
    --gray: #27282d;
    --medium-gray: lighten(#27282d, 25%);
    --light-gray: lighten(#27282d, 65%);
    --gradient: linear-gradient(140deg, rgb(219, 98, 65) 0%, rgb(229, 91, 141) 100%);
}

@font-face {
    font-family: 'font01';
    src: url(../icon/Advertisement.ttf);
}

body {
    background-color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, .input, .button, #buttonL, p {
    font-family: 'font01', sans-serif;
    letter-spacing: 1.3px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.list-group-item {
    border-top  : none;
    border-left: none;
    border-right: none ;
    background: transparent;
}

#icon1 {
    transform: translate(-50%,0);
    width: 30px;
    height: auto;
}

#bti {
    background: transparent;
    float: left;
    margin: 0%;
    box-shadow:none;
    border: none;
}
#btj {
    transform: translate(0,-50%);
    margin-top: 50%;
    width: 200px;
    width: auto;
    margin-top: 0%;
    box-shadow:none;
}

#buts {
    width: 350px;
}

#left-arrow {
    width: 10px;
    border: none;
    background-color: transparent;
}
  
.login {
    transform: translate(-50, 0);
    transition: all 1.5s;
    background: white;
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
}
  
.input {
    width: 15vw;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--medium-gray);
    color: var(--light-gray);
    padding: 12px 20px 12px 15px;
    font-size: 20px;
    outline: none;
    caret-color: rgb(229, 91, 141);
}
 
  
.input:focus {
    border-bottom: 1px solid transparent;
    border-image: var(--gradient);
    border-image-slice: 1;
}

.input:focus + img {
    color: var(--light-gray);
}
  
  
::placeholder {
    color: var(--light-gray);
    opacity: .4;
}

img {
    width: 50px;
    padding: 5px;
    color: var(--medium-gray);
    position: relative;
}
  

.button {
    width: 200px;
    background: lighten(var(--gray), 5%);
    border: none;
    border-radius: 30px; 
    color: var(--light-gray);
    font-size: 16px;
    padding: 16px 25px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 20px;
    margin-bottom: -30px;
    box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.65);
}

.buttonL {
    background: lighten(var(--gray), 5%);
    border: none;
    border-radius: 30px; 
    color: var(--light-gray);
    font-size: 16px;
    padding: 16px 36px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 20px;
    margin-bottom: -30px;
    transition: all 1s;
}
  
.button:hover {
    background: lighten(var(--gray), 10%);
    box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.65);
}

#buttonL:hover {
    color: var(--gradient);
}
 

@media screen and (max-width: 620px) {
    .input-login {
        width: 80%;
        margin-bottom: 40px;
    }
    
    #button {
        margin-top: 10px;
        margin-bottom: -20px;
    }
}
  
 