.HomeHeadBoxLeft{
  position: relative;
  display: flex;
  // border: 1px solid rgb(28, 192, 34);
  // width: 100%;
  background-color: rgb(0, 0, 0);
}

.HomeHeadBoxRight{
  position: relative;
  // width: 100%;
  // right: 0;
  display: flex;
  // background-color: black;
  // border: 1px solid rgb(28, 192, 34);
  padding: 0;
  margin: 0;
}

.HomeHeadBoxImgStyle{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  margin: auto;
  object-fit:cover;
  opacity:0.7;

}

.HomeHeadBoxImgStyle1{
  position: absolute;
  width: 100%;
  height: 100vh;
  // left: 0;
  margin: 0;
  object-fit:cover;
  opacity:1;
}

.HomeHeadBoxText{
  position: relative;
  // background-color: rgb(255, 255, 255);
 
  display: flex;
  margin:auto;
  text-align:center;
  // align-items: center;
  // justify-content:center;
}

.HomeHeadBoxText h1{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.79);
  margin:auto;
  padding: 30px;
  justify-content:center;
  text-align:center;
}

.HomeHeadBoxText p{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin:auto;
  padding: 10px;
  justify-content:center;
  text-align:center;
}

.HomeHeadBoxLeftButton{
  // color: rgb(95, 83, 83);
  // background-color: rgb(255, 255, 255);
  margin:auto;
  left: 0;
  padding: 10px;
  // justify-content:left;
  // text-align:left;
}

.btnRegister {
  background-color: crimson;
  // border-radius:15px 30px;
}

.btnRegister:hover {
  background-color: rgb(237, 101, 151);
}