@charset "UTF-8";
body {
  margin-top: 76px !important;
}

a {
  text-decoration: none !important;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.HomeHeadBoxStyle {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  margin: 0;
  z-index: 1;
}

.HomeHeadBoxLeft {
  position: relative;
  display: flex;
  left: 0;
  z-index: 1;
}

.HomeHeadBoxRight {
  position: relative;
  display: flex;
  background-color: black;
  z-index: 1;
}

.HomeHeadBoxLeftImgBox {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.HomeHeadBoxRightImgBox {
  position: absolute;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.HomeHeadBoxImgStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}

.HomeHeadBoxImgStyleTest {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}

.HomeHeadBoxText {
  position: relative;
  display: flex;
  margin: auto;
  text-align: center;
}

.HomeHeadBoxText a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.HomeHeadBoxText a:hover {
  color: white;
}

.HomeHeadBoxText h1 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.79);
  margin: auto;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

.HomeHeadBoxText p {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.HomeHeadBoxLeftButton {
  margin: auto;
  left: 0;
  padding: 10px;
}

.btnRegister {
  position: relative;
  height: auto;
  background-color: #FF0000;
  border: none;
  background: #FF0000;
  background: linear-gradient(0deg, #FF0000 0%, #FF0000 100%);
  color: #fff;
  overflow: hidden;
}

.btnRegister:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}

.btnRegister:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shiny-btn1 {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.btnRegister:hover {
  background-color: #db8d8d;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.btnRegister:hover:before {
  background-color: #db8d8d;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.btnRegister a {
  font-weight: bolder;
  font-size: 100%;
}

.HomeHeadBoxRightText {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}

.HomeHeadBoxRightImgBox {
  position: absolute;
  display: flex;
  width: 100%;
  max-height: 100%;
  height: 100%;
  left: 0;
}

.rightBox {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 25%;
  height: 100%;
  border: 1px solid black;
}
.rightBox a {
  color: white;
}

.rightBoxBottomText {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 35%;
  border-top: 1px solid black;
  background: rgb(0, 0, 0);
}
.rightBoxBottomText h1 {
  margin: auto;
}

.rightBoxBottomTextV1 {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.rightBoxBottomTextV1 h1 {
  font-size: 1.5rem;
}
.rightBoxBottomTextV1 h1:hover {
  color: #FF0000;
}
.rightBoxBottomTextV1 p {
  font-size: 0.8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border: 1px outset white;
}

@media (min-width: 1200px) {
  .rightBoxBottomTextV1 h1 {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .rightBoxBottomTextV1 p {
    font-size: 1.2rem;

  }
}
.rightBoxTopText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 35%;
  border-bottom: 1px solid black;
  background: rgb(0, 0, 0);
}
.rightBoxTopText h1 {
  margin: auto;
}

.rightBoxBottomImg {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.rightBoxTopImg {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
}

.rightBoxBottomImg img {
  /* border: 2px solid red; */
  transform: scale(1, 1);
  transition: all 0.6s ease-in-out;
}

.rightBoxBottomImg img:hover {
  transform: scale(1.2, 1.2);
}

.rightBoxTopImg img {
  /* border: 2px solid red; */
  transform: scale(1, 1);
  transition: all 0.6s ease-in-out;
}

.rightBoxTopImg img:hover {
  transform: scale(1.2, 1.2);
}

.navbar-nav {
  margin-right: 50px;
}

.navbarBgColor {
  background-color: black !important;
}

.cardBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 1;
}

.cardBox:hover {
  opacity: 0.5 !important;
}

.carouselImgTest {
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  opacity: 1;
  transition: all 0.6s ease;
  z-index: 1;
}

.carouselImgTest:hover {
  opacity: 0.7 !important;
}

.carouselBoxBigText {
  margin: 96px auto 0;
  justify-content: center;
  text-align: center;
  line-height: 0;
  height: auto;
  width: auto;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .carouselBoxBigText h1 {
    font-size: 22px;
    justify-content: center;
    word-wrap: break-word;
  }
}
.carouselBoxBigText a {
  font-size: 0.5rem;
}

@media (min-width: 1200px) {
  .carouselBoxBigText a {
    font-size: 1.2rem;
  }
}
.carouselBoxBottomText {
  display: flex;
  justify-content: right;
  text-align: right;
  right: 0;
  width: 100%;
  height: 50px;
}

.carouselBoxBottomTextV2 {
  font-size: 0.5rem;
}

@media (min-width: 1200px) {
  .carouselBoxBottomTextV2 {
    font-size: 1rem;
  }
}
.carouselBoxBottomTextV1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  right: 0;
  height: 100%;
  width: 100%;
}

.carouselBoxBottomTextV1Right {
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  right: 0;
  height: 100%;
  width: auto;
}

.carouselBoxBottomTextV2 {
  color: brown !important;
}

.carouselBoxBottomTextV2:hover {
  color: rgb(0, 0, 0) !important;
}

.cardBoxText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5%;
  width: 90%;
  height: 50px;
  opacity: 1;
  transition: all 0.6 ease-in-out;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  background-color: rgb(0, 0, 0);
  color: white;
}

.twoSectionBackgroundImg {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png");
}

.threeSectionBox {
  margin-top: 96px;
  position: relative;
  display: flex;
  width: 100%;
  height: 700px;
}

.threeSectionBoxBottomImg {
  padding-top: 25px;
  background-image: url("~../BenComponents/img/index/072404.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.192);
  background-blend-mode: multiply;
}

.threeSectionBoxContent {
  margin: auto;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 5%;
  background-color: rgb(0, 0, 0);
  width: 40%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.threeSectionBoxContent h4 {
  color: aqua;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: auto;
  position: relative;
}
.threeSectionBoxContent h4::after {
  content: "想要健身卻不知道如何開始?";
  color: rebeccapurple;
  position: absolute;
  left: 0;
  top: 0;
}

.threeSectionBoxV1 {
  position: relative;
  display: flex;
  width: 100%;
  height: 700px;
}

.threeSectionBoxBottomImgV1 {
  padding-top: 25px;
  background-image: url("~../BenComponents/img/index/0724.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
}

.oneSectionBox {
  position: relative;
  display: flex;
  width: 100%;
  height: 270px;
  background-color: black;
}

.oneSectionBoxCol {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  padding: auto;
}

.oneSectionBoxCol h1 {
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .oneSectionBoxCol h1 {
    font-size: 2.5rem;
  }
}
.oneSectionBoxCol h4 {
  font-size: 16px;
}

@media (min-width: 1200px) {
  .oneSectionBoxCol h4 {
    font-size: 1.5rem;
  }
}
.oneSectionBoxText {
  margin: auto;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-content: center;
}

.oneSectionBoxButton {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: auto;
}
.oneSectionBoxButton a {
  font-size: 1em;
}
.oneSectionBoxButton a:hover {
  background-color: aquamarine;
  color: red;
}

.fourthSectionBox {
  display: flex;
  padding: 3%;
  width: 100%;
  height: auto;
  background-color: crimson;
  justify-content: center;
  align-content: center;
}

.fourthSectionBoxCol {
  margin: 10px;
  padding: 30px;
  width: 100%;
  height: 200px;
  background-color: rgb(238, 173, 186);
  justify-content: center;
  align-content: center;
}

.fourthSectionBoxColText {
  margin: 10px;
  padding: 30px;
  width: 100%;
  height: 200px;
  background-color: rgb(110, 4, 25);
  justify-content: center;
  align-content: center;
}

.fifthSectionBox {
  width: 100%;
  height: 300px;
  background-color: rgb(241, 130, 122);
}

footer {
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
}

.coursesAndVenuesBoxStyle {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  margin: 0;
  z-index: 1;
}

.homeRightFixedBox {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1001;
  justify-content: center;
}

.homeRightFixedBoxV1 {
  width: 100%;
  height: 100%;
}

.homeRightFixedBoxV2 {
  margin: auto;
  width: auto;
  height: auto;
  justify-content: center;
  align-content: center;
  background-color: white;
  opacity: 0.9;
  box-shadow: 1px 1px 1px;
  border: 1px solid rgb(0, 0, 0);
}

.homeRightFixedBoxText {
  width: auto;
  height: auto;
}

.cartButtonStyle {
  border-radius: 20% !important;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(150, 232, 232);
  z-index: 100;
}

#root {
  font-size: 18px;
}

input {
  width: 100%;
}

input[type=checkbox], input[type=radio] {
  width: auto;
}

select {
  width: 100%;
}

* {
  z-index: 2;
}

body {
  overflow-x: hidden;
}

#title {
  font-size: 30px;
  background-color: rgba(211, 211, 211, 0.4);
}

#linkA {
  text-decoration: none;
  color: white;
}

#linkA:hover {
  color: red;
}

.animate__flipInX {
  background-color: black;
}

.animate__flipInX > button {
  color: white;
}

.animate__flipInX > button:hover {
  color: red;
}

#aaa {
  width: 100%;
  margin: 0 auto;
  height: 35vh;
  padding: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  line-height: 28px;
  background-image: url(~../JeromeComponents/course/components/icon/1.jpg);
}

:root {
  --gray: #27282d;
  --medium-gray: lighten(#27282d, 25%);
  --light-gray: lighten(#27282d, 65%);
  --gradient: linear-gradient(140deg, rgb(129, 60, 133) 0%, rgb(35, 118, 183) 100%);
}

@font-face {
  font-family: "font01";
  src: url(~../JeromeComponents/icon/Advertisement.ttf);
}
.login {
  transition: all 0.6s;
}

img {
  transition: all 1s;
}

#allA {
  margin-top: 76px;
  z-index: -1;
  height: 90vh;
  display: flex;
  overflow: hidden;
  background-image: url(~../imgs/2.jpg);
}

#all {
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, transparent, white 35%);
  transition: all 1.5s;
  opacity: 1;
  width: 100vw;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.list-group-item {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.icon {
  width: 50px;
  padding: 5px;
  color: var(--medium-gray);
  position: relative;
}

#icon1 {
  transform: translate(-50%, 0);
  width: 30px;
  height: auto;
}

#fgF {
  background: transparent;
}

#bti {
  background: transparent;
  float: left;
  margin: 0%;
  box-shadow: none;
  border: none;
}

#btj {
  transform: translate(0, -50%);
  margin-top: 50%;
  width: 200px;
  width: auto;
  margin-top: 0%;
  box-shadow: none;
}

#buts {
  width: 350px;
}

#left-arrow {
  width: 10px;
  border: none;
  background-color: transparent;
}

.loginA {
  letter-spacing: 1.3px;
  font-family: "font01", sans-serif;
  background: transparent;
  height: 75vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  align-items: center;
}

.login {
  letter-spacing: 1.3px;
  font-family: "font01", sans-serif;
  transform: translate(-50%, 0);
  background: transparent;
  height: 75vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 14vw;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--medium-gray);
  color: var(--light-gray);
  padding: 12px 0px 12px 0px;
  font-size: 20px;
  outline: none;
  caret-color: rgb(129, 60, 133);
}

.input:focus {
  border-bottom: 2px solid transparent;
  -o-border-image: var(--gradient);
     border-image: var(--gradient);
  border-image-slice: 1;
}

.input:focus + img {
  color: var(--light-gray);
}

::-moz-placeholder {
  color: var(--light-gray);
  opacity: 0.4;
}

:-ms-input-placeholder {
  color: var(--light-gray);
  opacity: 0.4;
}

::placeholder {
  color: var(--light-gray);
  opacity: 0.4;
}

.button {
  width: 200px;
  background: transparent;
  border: none;
  border-radius: 10px;
  color: var(--light-gray);
  font-size: 20px;
  padding: 16px 25px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  margin-bottom: -30px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.65);
}

.buttonL {
  background: transparent;
  border: none;
  color: var(--light-gray);
  font-size: 20px;
  padding: 16px 36px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: -30px;
  transition: all 1s;
}

.button:hover {
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.65);
}

.buttonL:hover {
  color: rgb(229, 91, 141);
}

@media screen and (max-width: 620px) {
  .input-login {
    width: 80%;
    margin-bottom: 40px;
  }
  .button {
    margin-top: 10px;
    margin-bottom: -20px;
  }
}
@font-face {
  font-family: "font01";
  src: url(~../JeromeComponents/icon/Advertisement.ttf);
}
#box {
  font-family: "font01";
}

.spa {
  display: inline-block;
  border: 2px solid red;
  padding: 5px;
  margin: 3px;
  white-space: nowrap;
}

.icon {
  width: 30px;
  height: 30px;
}

#buttonA {
  margin-top: 8%;
  width: 80%;
  height: 10%;
}

.title {
  /* font-size: 30px; */
  background-color: rgba(211, 211, 211, 0.4);
}/*# sourceMappingURL=all.css.map */