// base 全站設定
// 因為navbar長度是76若要剛好改76
body {
    margin-top: 76px;
}
img {
    // display: block;
    // max-width: 100%;
    // height: auto;
    // margin:auto;
}

// img:hover {
//     transition: all linear 300ms;
// }

a {
    transition: all linear 300ms;
    text-decoration:none !important;
}

p{
    text-decoration:none !important;
}

ul{
    list-style: none;
    padding: 0;
}
